.App {
  text-align: center;
}

div {
  text-align: center;
  
}

p {
  display: block;
  text-align: center;
}

label {
  color: rgb(21, 78, 124);
  font-style: oblique;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}